<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<script src="/socket.io/socket.io.js"></script>
<script>
  const config = {
    iceServers: [
      {
        urls: [
          "stun: stun1.l.google.com:19302",
          "stun:stun.iptel.org",
          "stun: stun3.l.google.com:19302"]
      },
      {
        url: 'turn:numb.viagenie.ca',
        credential: 'muazkh',
        username: 'webrtc@live.com'
      }
    ]
  };

  const socket = io({
    transports: ['websocket', 'polling'],
    query: new URLSearchParams({
      receiverUUID: '836e88c7-47d0-48c9-be67-040b8a6a6f6e'
    }).toString()
  });

  socket.on('connect', () => {
    socket.on('error', console.error);
    socket.on('offer', offer);
  });

  let pc = null;

  const offer = async (event) => {
    const configuration = {'iceServers': [{'urls': 'stun:stun.l.google.com:19302'}]}
    pc = new RTCPeerConnection(configuration);
    console.log(event);
    pc.onicecandidate = e => {
      console.log('ICE')
    };
    await pc.setRemoteDescription(event);
    const answer = await pc.createAnswer();
    await pc.setLocalDescription(answer);
    console.log('answer: ', answer);
    socket.emit('answer', answer);
  }
</script>
</body>
</html>
