<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io({
    transports: ['websocket', 'polling'],
    query: new URLSearchParams({
      receiverUUID: '836e88c7-47d0-48c9-be67-040b8a6a6f6e'
    }).toString()
  });
</script>
</body>
</html>
