<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<div>
    <form id="bind-form">
        <input type="text" placeholder="uuid of reveiver" name="uuid">
        <button id="bind">Bind to receiver</button>
    </form>
    <button id="webrtc-connect">webRTC connect</button>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io({
    transports: ['websocket', 'polling']
  });

  socket.on('connect', () => {
    socket.on('error', console.error);
    socket.on('binded', () => {
      alert('Binded!')
    })
  });

  document.getElementById('bind-form').addEventListener('submit', e => {
    e.preventDefault();
    const formData = new FormData(e.target);
    const formProps = Object.fromEntries(formData);
    socket.emit('bind', { receiverUUID:  formProps.uuid });
  })

  const createPeerConnection = async () => {
    const pc = new RTCPeerConnection();
    const offer = await pc.createOffer();
    socket.emit('offer', offer);
    await pc.setLocalDescription(offer);

    pc.onicecandidate = e => {
      console.log('E: ', e)
    };
  }

  document.getElementById('webrtc-connect').addEventListener('click', createPeerConnection)
</script>
</body>
</html>
