<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<div>
    <form>
        <input type="text" placeholder="uuid of reveiver">
        <button id="bind">Bind to receiver</button>
    </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io({
    transports: ['websocket', 'polling']
  });

  socket.on('connect', () => {
    console.log('check 1', socket.connected);
  });

</script>
</body>
</html>
