<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<div>
    <form id="bind-form">
        <input type="text" placeholder="uuid of reveiver" name="uuid">
        <button id="bind">Bind to receiver</button>
    </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io({
    transports: ['websocket', 'polling']
  });

  socket.on('connect', () => {
    console.log('check 1', socket.connected);
  });

  document.getElementById('bind-form').addEventListener('submit', e => {
    e.preventDefault();
    const formData = new FormData(e.target);
    const formProps = Object.fromEntries(formData);
    socket.emit('bind', { receiverUUID:  formProps.uuid });
  })
</script>
</body>
</html>
